
.code-box {
    display: inline-flex;
    justify-content: center;
    align-content: flex-start;
    }

body {
    height: 100vh;
    background-color: black;
    }

.column-all {
    color:white;
    }

.form-control {
    margin-top:10px ;
    margin-bottom: 20px;
    color: white;
    background-color: transparent;
    }

.btn{
    color: white;
    background-color: #2F82FF;
    border: transparent; 
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 9px;
    height: 40px;
}

#inboxButton {
    background-color:black;
    color: white;
    }
    
.btn:hover{
    background-color: grey;
    color:white;
}

.selected-email {
    background-color: #2F82FF;
}
h1 {
    font-size: 22px;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 17px;
    font-weight: bold;
}




